build/
Build/
Debug/
Release/

*.o
*.d
*.elf
*.bin
*.hex
*.map
*.list

.settings/
.metadata/
*.launch

.project
.cproject

*.log
*.tmp
*.bak

.DS_Store
Thumbs.db

.vscode/

*.uvprojx
*.uvoptx
*.ewp
*.eww
*.dep


*.ioc.bak

__pycache__/
*.pyc
